
<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ödeme Ekranı</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="paymentForm" (ngSubmit)="payment()">
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Kart Sahibi Ad ve Soyad</label>
          <input type="text" class="form-control" formControlName="cartOwner" id="exampleFormControlInput1" placeholder="Kart sahibi">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Kart Numarası</label>
          <input type="text" class="form-control" formControlName="cartNumber" id="exampleFormControlInput1" placeholder="Kart numarası">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Son Kullanma Tarihi</label>
          <input type="text" class="form-control" formControlName="expirationDate" id="exampleFormControlInput1" placeholder="Son Kullanma Tarihi">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">CVV</label>
          <input type="text" class="form-control" maxlength="3" formControlName="cvv" id="exampleFormControlInput1" placeholder="CVV">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Toplam Ödenecek Tutar</label>
          <h3 class="text-danger">{{ total | currency: 'TRY': 'symbol-narrow': '1.2-2' }}</h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="paymentModalCloseBtn">Kapat</button>
        <button type="submit" class="btn btn-success">Ödeme Yap</button>
      </div>
    </form>
    </div>
  </div>
</div>
